```
# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.vscode/
.idea/

# Environment
.env
.env.local
*.env.*

# Logs
*.log

# Dependencies
node_modules/
vendor/bundle
.libs/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*~
```